body {
    background-color: #f0f0f0;
}

.time-date-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.time-date {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas, todos los botones ocupan el mismo ancho */
    grid-template-rows: repeat(2, 1fr); /* Dos filas */
    gap: 20px;
    max-width: 600px;
    width: 100%;
    height: 100%; /* Para asegurar que las filas ocupen el espacio disponible */
}

.button {
    padding: 20px;
    font-size: 18px;
<<<<<<< HEAD
    color: white;
    background-color: #aa2a79;
=======
    color: rgb(255, 0, 0);
    background-color: #ff0000;
>>>>>>> 827d20b4991a1ee70a6e16213f1e6ca99a862c74
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
